* {
    font-family: 'Inter', system-ui;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e7f6ff;
}

 a {
    text-decoration: none;
    color: black;
 }

.wrapper {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0 ,0 ,0.04);
    max-width: 1080px;
    margin: 50px auto;
}